<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      -->
    <link rel="stylesheet" href="../static/style.css">
    <title>Digital Prediction</title>
</head>
<body>
    <div id="header">
        <h1>Trang web dự đoán chữ số viết tay code bởi chồng iu</h1>
    </div>
    <h2 id="instruction">Mời cục vàng viết một chữ số từ (0-9)</h2>
    <canvas id="canvas" width="280" height="280"></canvas><br>
    <button onclick="clearCanvas()">Xóa</button>
    <button onclick="predictDigit()">Dự đoán</button>
    <div id="answer-box">
        <h3 id="result" class="prediction-result"></h3>
    </div>
    <h2 id="Flex">Thấy chồng yêu giỏi chưa? Hè hè :></h2>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>